
:root {
    --carrocel-bg-card: #ddd;
    --carrocel-capa-card: #0009;
    --carrocel-borda-titulo: #ff4700;
}

.titulo-carrocel {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 0 .5rem;
    border-bottom: solid .2rem var(--carrocel-borda-titulo);
}

.area-apoiadores {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 5rem;
    margin: .5rem 0 4rem 0;
    transform-style: preserve-3d;
    perspective: 2rem;

    .apoiador {
        position: absolute;
        top: calc(50% - 2.5rem);
        left: calc(50% - 2.5rem);
        width: 5rem;
        height: 5rem;
        transition: .5s;
        box-shadow: 0 0 1rem .3rem var(--carrocel-capa-card);
        transform-style: preserve-3d;
        transform-origin: bottom;
        user-select: none;
        -webkit-box-reflect: below .5rem linear-gradient(transparent, var(--carrocel-capa-card));
        background-color: var(--carrocel-bg-card);

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &:nth-child(1) {
            transform: translate3d(-5rem, 0, 0) scale(.7) rotateY(10deg);
            z-index: 1;
            &::after {
                background-color: var(--carrocel-capa-card);
            }
        }

        &:nth-child(2) {
            transform: translate3d(-5rem, 0, 0) scale(.7) rotateY(10deg);
            z-index: 2;
            &::after {
                background-color: var(--carrocel-capa-card);
            }
        }

        &:nth-child(3) {
            transform: translate3d(-2.5rem, 0, 0) scale(.8) rotateY(7deg);
            z-index: 3;
            &::after {
                background-color: var(--carrocel-capa-card);
            }
        }

        &:nth-child(4) {
            transform: translate3d(0, 0, 0) scale(1) rotateY(0deg);
            z-index: 10;
        }

        &:nth-child(5) {
            transform: translate3d(2.5rem, 0, 0) scale(.8) rotateY(-7deg);
            z-index: 3;            
            &::after {
                background-color: var(--carrocel-capa-card);
            }
        }

        &:nth-child(6) {
            transform: translate3d(5rem, 0, 0) scale(.7) rotateY(-10deg);
            z-index: 2;
            &::after {
                background-color: var(--carrocel-capa-card);
            }
        }

        &:nth-child(7) {
            transform: translate3d(5rem, 0, 0) scale(.7) rotateY(-10deg);
            z-index: -1;
            &::after {
                background-color: var(--carrocel-capa-card);
            }
        }

        &:nth-child(8) {
            transform: translate3d(5rem, 0, 0) scale(.7) rotateY(-10deg);
            z-index: -1;
            &::after {
                background-color: var(--carrocel-capa-card);
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



@media (min-width: 768px) {

    .titulo-carrocel {
    font-size: 1.5rem;
    letter-spacing: .3rem;
    padding: 0 .7rem;
}

.area-apoiadores {
    min-height: 7rem;
    margin: 3rem 0 7rem 0;
    perspective: 3rem;

    .apoiador {
        top: calc(50% - 4rem);
        left: calc(50% - 4rem);
        width: 7rem;
        height: 7rem;
        box-shadow: 0 0 1rem .3rem var(--carrocel-capa-card);
        -webkit-box-reflect: below 1rem linear-gradient(transparent, var(--carrocel-capa-card));


        &:nth-child(1) {
            transform: translate3d(-15rem, 0, 0) scale(.6) rotateY(10deg);
        }

        &:nth-child(2) {
            transform: translate3d(-15rem, 0, 0) scale(.6) rotateY(10deg);
        }

        &:nth-child(3) {
            transform: translate3d(-7.5rem, 0, 0) scale(.7) rotateY(7deg);
        }

        &:nth-child(4) {
            transform: translate3d(0, 0, 0) scale(1.2) rotateY(0deg);
        }

        &:nth-child(5) {
            transform: translate3d(7.5rem, 0, 0) scale(.7) rotateY(-7deg);
        }

        &:nth-child(6) {
            transform: translate3d(15rem, 0, 0) scale(.6) rotateY(-10deg);
        }

        &:nth-child(7) {
            transform: translate3d(15rem, 0, 0) scale(.6) rotateY(-10deg);

        }

        &:nth-child(8) {
            transform: translate3d(15rem, 0, 0) scale(.6) rotateY(-10deg);
        }

    }
}








    
}




