:root {

    --tela2-background: #87CEEB;
    --tela2-borda-prog: #000;
    --tela2-cor-letra-prog: #000;
    --tela2-cor-data: #fff;
    --tela2-cor-hora: #ff4700;
}



#programacoes {

    
    // DESENVOLVIMENTO ÁREA APOIADORES
    display: none;




    
    background: var(--tela2-background);

    .conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20% 0 10% 0;
        gap: 1rem;

    }

    .titulo {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }

    .caixaDia {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

        .txtDia {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--tela2-cor-data);
            text-shadow: 0 0 .3rem var(--tela2-cor-data);
            margin-bottom: 1rem;
        }
    }

    .programacao {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .5rem 0;
        margin: .5rem 0;

        .horario {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--tela2-cor-hora);
        }

        .local {
            font-weight: 600;
        }

    }

    .prog-direita {
        align-items: flex-start;
        border-left: solid .2rem var(--tela2-borda-prog);
        padding-left: .3rem;
    }

    .prog-esquerda {
        align-items: flex-end;
        border-right: solid .2rem var(--tela2-borda-prog);
        padding-right: .3rem;
    }







}





