:root {

    --tela2-background: #87CEEB;
    --tela2-borda-prog: #000;
    --tela2-cor-letra-prog: #000;
    --tela2-cor-data: #fff;
    --tela2-cor-hora: #ff4700;
    --tela2-bg-data: #0007;
    --tela2-bg-aconteceu: #000b;
}



#programacoes {

    background: var(--tela2-background);

    .conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20% 0 10% 0;
        gap: 1rem;

    }

    .titulo {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }

    .caixaDia {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

        .txtDia {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--tela2-cor-data);
            text-shadow: 0 0 .3rem var(--tela2-cor-data);
            margin-bottom: 1rem;
            padding: .2rem .5rem;
            border-radius: 1rem;
            background-color: var(--tela2-bg-data);
        }
    }

    .programacao {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .5rem 0;
        margin: .5rem 0;

        .horario {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--tela2-cor-hora);
        }

        .local {
            font-weight: 600;
            font-size: .9rem;
        }

    }

    .prog-esquerda {
        align-items: flex-start;
        border-left: solid .2rem var(--tela2-borda-prog);
        padding-left: .3rem;
    }

    .prog-direita {
        align-items: flex-end;
        border-right: solid .2rem var(--tela2-borda-prog);
        padding-right: .3rem;
    }

    .acontecendo {
        border: none;
        border-radius: .3rem;
        animation: acontecendo 1s infinite;
    }

    .aconteceu {
        
        &::after {
            content: 'ACONTECEU';
            position: absolute;
            width: 100%;
            height: 100%;
            top: -5%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            letter-spacing: 1rem;
            border-radius: .3rem;
            padding: .3rem;
            color: var(--tela2-cor-data);
            text-shadow: 0 0 .3rem var(--tela2-cor-data);
            background-color: var(--tela2-bg-aconteceu);
        }

    }

}

@keyframes acontecendo {
    0%, 100% {
        background-color: #fffb;
        box-shadow: 0 0 .1rem .1rem #fff;
    }

    50% {
        background-color: #fff;
        box-shadow: 0 0 .5rem .7rem #fff;
    }
}





