

// TELA INICIAL
:root {
    --tela1-background: #87CEEB;
    --tela1-cor-titulo: #000;
    --tela1-cor-subtitulo: #fff;
    --tela1-cor-efeito-texto: #fff;
    --tela1-cor-barra-efeito: #ff4700;
}



#inicio {


    
    // DESENVOLVIMENTO ÁREA APOIADORES
    display: none;



    
    background-color: var(--tela1-background);

    .conteiner {
        margin-top: 15%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        user-select: none;

        .texto {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .titulo {
                font-size: 2.5rem;
                color: var(--tela1-cor-titulo);
            }

            .subtitulo {
                display: flex;
                gap: 0.5em;
                width: 100%;
                overflow: hidden;

                .textoPrimario {
                    color: var(--tela1-cor-subtitulo);
                }

                .textoSecundario {
                    position: relative;
                    color: var(--tela1-cor-subtitulo);

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: var(--tela1-background);
                        border-left: solid .2rem var(--tela1-cor-barra-efeito);
                        animation: subtituloEfeito 4s infinite;
                    }

                }

            }
        }
    }
}



@keyframes subtituloEfeito {

    0%, 100% {
        left: 0%;
    }

    70% {
        left: 100%;
    }

}



