// TELA INICIAL

:root {
    --tela1-background: #005588;
    --tela1-cor-titulo: #000;
    --tela1-cor-subtitulo: #000;
    --tela1-cor-efeito-texto: #fff;
}



#inicio {

    background-color: var(--tela1-background);

    .conteiner {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        user-select: none;

        .texto {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .titulo {
                font-size: 2.5rem;
                color: var(--tela1-cor-titulo);
            }

            .subtitulo {
                color: var(--tela1-cor-subtitulo);

                span {
                    color: var(--tela1-cor-subtitulo);
                    animation: efeitoTexto 6s infinite;
                    animation-delay: calc(2s * var(--i));
                }
            }
        }
    }
}






@keyframes efeitoTexto {

    33.33% {
        color: var(--tela1-cor-efeito-texto);
        font-weight: 700;
    }

    100% {
        color: var(--tela1-cor-subtitulo);
    }

}