@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
:root {
  --n2cor1: #050505;
  --n2cor2: #ff4700;
  --n2cor3: #f2f2f2;
  --n2cor4: #ee0000;
  --n2cor5: #00ee00;
  --n2cor6: #0000ee;
}

.navbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--n2cor1);
  color: var(--n2cor2);
  position: fixed;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  height: 2.5rem;
}
.navbar .item-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: inherit;
  user-select: none;
  height: 1.5em;
}
.navbar .icon-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: 0.5s;
}
.navbar .icon-navbar svg {
  width: 1rem;
  height: 1rem;
}
.navbar .txt-navbar {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

.ativo .icon-navbar {
  transform: translateY(1.5rem);
  opacity: 1;
  background: var(--n2cor1);
}
.ativo .txt-navbar {
  color: var(--n2cor3);
  animation: efeitoNavbar 0.3s infinite;
}

@keyframes efeitoNavbar {
  25% {
    transform: translateX(0.1rem) translateY(0.1rem);
    text-shadow: -0.1rem -0.1rem 0.2rem var(--n2cor4);
  }
  50% {
    transform: translateX(-0.1rem) translateY(-0.1rem);
    text-shadow: 0.1rem 0.1rem 0.2rem var(--n2cor4);
  }
  75% {
    transform: translateX(-0.1rem) translateY(0.1rem);
    text-shadow: 0.1rem -0.1rem 0.2rem var(--n2cor5);
  }
  100% {
    transform: translateX(0.1rem) translateY(-0.1rem);
    text-shadow: -0.1rem 0.1rem 0.2rem var(--n2cor5);
  }
}
:root {
  --tela1-background: #005588;
  --tela1-cor-titulo: #000;
  --tela1-cor-subtitulo: #000;
  --tela1-cor-efeito-texto: #fff;
}

#inicio {
  background-color: var(--tela1-background);
}
#inicio .conteiner {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  user-select: none;
}
#inicio .conteiner .texto {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#inicio .conteiner .texto .titulo {
  font-size: 2.5rem;
  color: var(--tela1-cor-titulo);
}
#inicio .conteiner .texto .subtitulo {
  color: var(--tela1-cor-subtitulo);
}
#inicio .conteiner .texto .subtitulo span {
  color: var(--tela1-cor-subtitulo);
  animation: efeitoTexto 6s infinite;
  animation-delay: calc(2s * var(--i));
}

@keyframes efeitoTexto {
  33.33% {
    color: var(--tela1-cor-efeito-texto);
    font-weight: 700;
  }
  100% {
    color: var(--tela1-cor-subtitulo);
  }
}
.tela {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}
.tela .conteiner {
  width: 95%;
  height: 85%;
}

#programacoes {
  background-color: #991199;
}

#contato {
  background-color: #cc3311;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=index.css.map */
