@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
:root {
  --n2cor1: #050505;
  --n2cor2: #ff4700;
  --n2cor3: #f2f2f2;
  --n2cor4: #ee0000;
  --n2cor5: #00ee00;
  --n2cor6: #0000ee;
}

.areaNavbar {
  position: absolute;
  z-index: 100;
}

.navbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--n2cor1);
  color: var(--n2cor2);
  position: fixed;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  height: 2.5rem;
}
.navbar .item-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: inherit;
  user-select: none;
  height: 1.5em;
}
.navbar .icon-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: 0.5s;
}
.navbar .icon-navbar svg {
  width: 1rem;
  height: 1rem;
}
.navbar .txt-navbar {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

.ativo .icon-navbar {
  transform: translateY(1.5rem);
  opacity: 1;
  background: var(--n2cor1);
}
.ativo .txt-navbar {
  color: var(--n2cor3);
}

@keyframes efeitoNavbar {
  25% {
    transform: translateX(0.1rem) translateY(0.1rem);
    text-shadow: -0.1rem -0.1rem 0.2rem var(--n2cor4);
  }
  50% {
    transform: translateX(-0.1rem) translateY(-0.1rem);
    text-shadow: 0.1rem 0.1rem 0.2rem var(--n2cor4);
  }
  75% {
    transform: translateX(-0.1rem) translateY(0.1rem);
    text-shadow: 0.1rem -0.1rem 0.2rem var(--n2cor5);
  }
  100% {
    transform: translateX(0.1rem) translateY(-0.1rem);
    text-shadow: -0.1rem 0.1rem 0.2rem var(--n2cor5);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    height: 3.5rem;
  }
  .navbar .item-navbar {
    height: 2em;
  }
  .navbar .icon-navbar {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
  }
  .navbar .icon-navbar svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .navbar .txt-navbar {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}
:root {
  --cor-ln-btn: #ff4700;
  --cor-txt-btn: #ff4700;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: inherit;
  user-select: none;
  height: 1.5em;
}
.botao:active {
  transform: scale(0.98);
}

.btn-inscricao {
  position: relative;
  font-size: 1.2rem;
  padding: 1rem;
  overflow: hidden;
  font-weight: 600;
  color: var(--cor-txt-btn);
  animation: linhaBotao 4s infinite;
}
.btn-inscricao .ln {
  position: absolute;
  background-color: var(--cor-ln-btn);
}
.btn-inscricao .ln1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.2rem;
  animation: btnLn1 0.5s infinite;
}
.btn-inscricao .ln2 {
  top: -100%;
  right: 0;
  width: 0.2rem;
  height: 100%;
  animation: btnLn2 0.5s infinite;
}
.btn-inscricao .ln3 {
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  animation: btnLn3 0.5s infinite;
}
.btn-inscricao .ln4 {
  bottom: -100%;
  left: 0;
  width: 0.2rem;
  height: 100%;
  animation: btnLn4 0.5s infinite;
}

@keyframes btnLn1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes btnLn2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
@keyframes btnLn3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes btnLn4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
:root {
  --tela1-background: #87CEEB;
  --tela1-cor-titulo: #000;
  --tela1-cor-subtitulo: #fff;
  --tela1-cor-efeito-texto: #fff;
  --tela1-cor-barra-efeito: #ff4700;
}

#inicio {
  background-color: var(--tela1-background);
}
#inicio .conteiner {
  margin-top: 15%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
#inicio .conteiner .texto {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#inicio .conteiner .texto .titulo {
  font-size: 2.5rem;
  color: var(--tela1-cor-titulo);
}
#inicio .conteiner .texto .subtitulo {
  display: flex;
  gap: 0.5em;
  width: 100%;
  overflow: hidden;
}
#inicio .conteiner .texto .subtitulo .textoPrimario {
  color: var(--tela1-cor-subtitulo);
}
#inicio .conteiner .texto .subtitulo .textoSecundario {
  position: relative;
  color: var(--tela1-cor-subtitulo);
}
#inicio .conteiner .texto .subtitulo .textoSecundario::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--tela1-background);
  border-left: solid 0.2rem var(--tela1-cor-barra-efeito);
  animation: subtituloEfeito 4s infinite;
}

@keyframes subtituloEfeito {
  0%, 100% {
    left: 0%;
  }
  70% {
    left: 100%;
  }
}
@media (min-width: 720px) {
  #inicio .conteiner {
    justify-content: space-around;
  }
  #inicio .conteiner .texto {
    gap: 1em;
  }
  #inicio .conteiner .texto #titulo-principal {
    font-size: 4rem;
  }
  #inicio .conteiner .texto .subtitulo {
    font-size: 2rem;
    gap: 0.5em;
  }
}
@media (min-width: 1024px) {
  #inicio .conteiner {
    margin-top: 10%;
  }
}
:root {
  --tela2-background: #87CEEB;
  --tela2-borda-prog: #000;
  --tela2-cor-letra-prog: #000;
  --tela2-cor-data: #fff;
  --tela2-cor-hora: #ff4700;
  --tela2-bg-data: #0007;
  --tela2-bg-aconteceu: #000b;
}

#programacoes {
  background: var(--tela2-background);
}
#programacoes .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20% 0 10% 0;
  gap: 1rem;
}
#programacoes .titulo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
#programacoes .caixaDia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
#programacoes .caixaDia .txtDia {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: var(--tela2-cor-data);
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  background-color: var(--tela2-bg-data);
}
#programacoes .programacao {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem 0;
  margin: 0.5rem 0;
}
#programacoes .programacao .horario {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--tela2-cor-hora);
}
#programacoes .programacao .local {
  font-weight: 600;
  font-size: 0.9rem;
}
#programacoes .prog-esquerda {
  align-items: flex-start;
  border-left: solid 0.2rem var(--tela2-borda-prog);
  padding-left: 0.3rem;
}
#programacoes .prog-direita {
  align-items: flex-end;
  border-right: solid 0.2rem var(--tela2-borda-prog);
  padding-right: 0.3rem;
}
#programacoes .acontecendo {
  border: none;
  border-radius: 0.3rem;
  animation: acontecendo 1s infinite;
}
#programacoes .aconteceu::after {
  content: "ACONTECEU";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  letter-spacing: 1rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  color: var(--tela2-cor-data);
  text-shadow: 0 0 0.3rem var(--tela2-cor-data);
  background-color: var(--tela2-bg-aconteceu);
}

@keyframes acontecendo {
  0%, 100% {
    background-color: rgba(255, 255, 255, 0.7333333333);
    box-shadow: 0 0 0.1rem 0.1rem #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 0 0 0.5rem 0.7rem #fff;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  #programacoes .conteiner {
    padding: 15% 0 5% 0;
  }
}
@media (min-width: 426px) and (max-width: 719px) {
  #programacoes .conteiner {
    padding: 10% 0 5% 0;
  }
}
@media (min-width: 720px) {
  #programacoes .conteiner {
    font-size: 1.2rem;
    padding: 10% 0 5% 0;
  }
}
@media (min-width: 1024px) {
  #programacoes .conteiner {
    font-size: 1.2rem;
    padding: 6% 0 5% 0;
  }
  #programacoes .programacao {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
  }
  #programacoes .programacao .horario {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tela2-cor-hora);
  }
  #programacoes .programacao .atividade {
    font-size: 1.2rem;
  }
  #programacoes .programacao .local {
    font-weight: 600;
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  #programacoes .conteiner {
    font-size: 1.2rem;
    padding: 4% 0 0 0;
  }
}
:root {
  --tela3-background: #87CEEB;
  --tela3-foto-bg: #fff;
  --tela3-borda-foto: #ff4700;
  --tela3-cor-tel: #ff4700;
  --cor-whatsapp: #15a122;
  --cor-instagram: #E1306C;
}

#contato {
  background-color: var(--tela3-background);
}
#contato .conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  gap: 1rem;
}
#contato .conteiner .titulo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.card {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 1rem;
}
.card .card-foto {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid 0.1rem var(--tela3-borda-foto);
  background-color: var(--tela3-foto-bg);
  background-size: cover;
}
.card .card-foto img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card .card-info {
  display: flex;
  flex-direction: column;
}
.card .card-info .card-nome {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.card .card-info .card-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tela3-cor-tel);
  gap: 0.3rem;
}
.card .card-info .card-tel svg {
  color: var(--cor-whatsapp);
}

.card-esquerda {
  justify-content: flex-end;
}

#instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}
#instagram a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--cor-instagram);
}

@media (min-width: 375px) and (max-width: 425px) {
  #contato .conteiner {
    margin-top: 15%;
  }
}
@media (min-width: 426px) and (max-width: 719px) {
  #contato .conteiner {
    margin-top: 10%;
  }
}
@media (min-width: 720px) {
  #contato .conteiner {
    margin-top: 10%;
  }
  #contato .conteiner .titulo {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
  }
  #contato .card {
    gap: 1.5rem;
    padding-left: 11%;
    padding-right: 11%;
  }
  #contato .card .card-foto {
    width: 5rem;
    height: 5rem;
  }
  #contato .card .card-info {
    display: flex;
    flex-direction: column;
  }
  #contato .card .card-info .card-nome {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
  #contato .card .card-info .card-tel {
    font-size: 1.2rem;
    font-weight: 600;
    gap: 0.5rem;
  }
  #contato .card .card-info .card-tel svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  #instagram {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  #instagram a {
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  #contato .conteiner {
    margin-top: 6%;
  }
}
@media (min-width: 1440px) {
  #contato .conteiner {
    margin-top: 4%;
  }
}
:root {
  --carrocel-bg-card: #ddd;
  --carrocel-capa-card: #0009;
  --carrocel-borda-titulo: #ff4700;
}

.titulo-carrocel {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding: 0 0.5rem;
  border-bottom: solid 0.2rem var(--carrocel-borda-titulo);
}

.area-apoiadores {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 5rem;
  margin: 0.5rem 0 4rem 0;
  transform-style: preserve-3d;
  perspective: 2rem;
}
.area-apoiadores .apoiador {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
  transition: 0.5s;
  box-shadow: 0 0 1rem 0.3rem var(--carrocel-capa-card);
  transform-style: preserve-3d;
  transform-origin: bottom;
  user-select: none;
  -webkit-box-reflect: below 0.5rem linear-gradient(transparent, var(--carrocel-capa-card));
  background-color: var(--carrocel-bg-card);
}
.area-apoiadores .apoiador::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.area-apoiadores .apoiador:nth-child(1) {
  transform: translate3d(-5rem, 0, 0) scale(0.7) rotateY(10deg);
  z-index: 1;
}
.area-apoiadores .apoiador:nth-child(1)::after {
  background-color: var(--carrocel-capa-card);
}
.area-apoiadores .apoiador:nth-child(2) {
  transform: translate3d(-5rem, 0, 0) scale(0.7) rotateY(10deg);
  z-index: 2;
}
.area-apoiadores .apoiador:nth-child(2)::after {
  background-color: var(--carrocel-capa-card);
}
.area-apoiadores .apoiador:nth-child(3) {
  transform: translate3d(-2.5rem, 0, 0) scale(0.8) rotateY(7deg);
  z-index: 3;
}
.area-apoiadores .apoiador:nth-child(3)::after {
  background-color: var(--carrocel-capa-card);
}
.area-apoiadores .apoiador:nth-child(4) {
  transform: translate3d(0, 0, 0) scale(1) rotateY(0deg);
  z-index: 10;
}
.area-apoiadores .apoiador:nth-child(5) {
  transform: translate3d(2.5rem, 0, 0) scale(0.8) rotateY(-7deg);
  z-index: 3;
}
.area-apoiadores .apoiador:nth-child(5)::after {
  background-color: var(--carrocel-capa-card);
}
.area-apoiadores .apoiador:nth-child(6) {
  transform: translate3d(5rem, 0, 0) scale(0.7) rotateY(-10deg);
  z-index: 2;
}
.area-apoiadores .apoiador:nth-child(6)::after {
  background-color: var(--carrocel-capa-card);
}
.area-apoiadores .apoiador:nth-child(7) {
  transform: translate3d(5rem, 0, 0) scale(0.7) rotateY(-10deg);
  z-index: -1;
}
.area-apoiadores .apoiador:nth-child(7)::after {
  background-color: var(--carrocel-capa-card);
}
.area-apoiadores .apoiador:nth-child(8) {
  transform: translate3d(5rem, 0, 0) scale(0.7) rotateY(-10deg);
  z-index: -1;
}
.area-apoiadores .apoiador:nth-child(8)::after {
  background-color: var(--carrocel-capa-card);
}
.area-apoiadores .apoiador img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .titulo-carrocel {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    padding: 0 0.7rem;
  }
  .area-apoiadores {
    min-height: 7rem;
    margin: 3rem 0 7rem 0;
    perspective: 3rem;
  }
  .area-apoiadores .apoiador {
    top: calc(50% - 4rem);
    left: calc(50% - 4rem);
    width: 7rem;
    height: 7rem;
    box-shadow: 0 0 1rem 0.3rem var(--carrocel-capa-card);
    -webkit-box-reflect: below 1rem linear-gradient(transparent, var(--carrocel-capa-card));
  }
  .area-apoiadores .apoiador:nth-child(1) {
    transform: translate3d(-15rem, 0, 0) scale(0.6) rotateY(10deg);
  }
  .area-apoiadores .apoiador:nth-child(2) {
    transform: translate3d(-15rem, 0, 0) scale(0.6) rotateY(10deg);
  }
  .area-apoiadores .apoiador:nth-child(3) {
    transform: translate3d(-7.5rem, 0, 0) scale(0.7) rotateY(7deg);
  }
  .area-apoiadores .apoiador:nth-child(4) {
    transform: translate3d(0, 0, 0) scale(1.2) rotateY(0deg);
  }
  .area-apoiadores .apoiador:nth-child(5) {
    transform: translate3d(7.5rem, 0, 0) scale(0.7) rotateY(-7deg);
  }
  .area-apoiadores .apoiador:nth-child(6) {
    transform: translate3d(15rem, 0, 0) scale(0.6) rotateY(-10deg);
  }
  .area-apoiadores .apoiador:nth-child(7) {
    transform: translate3d(15rem, 0, 0) scale(0.6) rotateY(-10deg);
  }
  .area-apoiadores .apoiador:nth-child(8) {
    transform: translate3d(15rem, 0, 0) scale(0.6) rotateY(-10deg);
  }
}
:root {
  --footer-background: #87CEEB;
  --footer-inf-borda: #000;
  --footer-inf-after: linear-gradient(to right, #0000, #000, #0000);
}

footer {
  background-color: var(--footer-background);
}
footer .footer-sup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.3rem;
}
footer .footer-inf {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  gap: 0.3rem;
  padding: 0.3rem 0;
}
footer .footer-inf svg {
  width: 0.7rem;
  height: 0.7rem;
}
footer .footer-inf span {
  padding: 0 0 0 0.3rem;
  border-left: solid 0.1rem var(--footer-inf-borda);
}
footer .footer-inf::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  top: 0;
  background: var(--footer-inf-after);
}

@media (min-width: 720px) {
  footer .footer-sup {
    margin-left: 5%;
    margin-right: 5%;
  }
  footer .footer-inf {
    font-size: 0.9rem;
  }
}
:root {
  --tela-divisor: linear-gradient(to right, #0000, #000, #0000);
  --tela-background: transparent;
}

.tela {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
  background: var(--tela-background);
}
.tela .conteiner {
  width: 95%;
  height: 85%;
  overflow: hidden;
}
.tela::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  background: var(--tela-divisor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



/*# sourceMappingURL=index.css.map */
